#content {
    align-content: center;
    background-image: url(../images/app.jpg);
    height: 100%;
    width: 100%;
    min-height: 500px;
    background-size: 100% 100%;
}

#content > div {
    text-align: center;
}