<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.start.module.dao.ArticleListMapper">
  <resultMap id="BaseResultMap" type="com.example.start.module.entity.ArticleList">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="is_reptile" jdbcType="BIT" property="isReptile" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, url, is_reptile, disabled, is_del, create_time, create_by, update_time,
    update_by
  </sql>
  <select id="find" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from t_article_list
    <where>
      is_del=0
      <if test="id != null">
         and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="title != null">
         and title=#{title,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
         and url=#{url,jdbcType=VARCHAR}
      </if>
      <if test="isReptile != null">
         and is_reptile=#{isReptile,jdbcType=BIT}
      </if>
      <if test="disabled != null">
         and disabled=#{disabled,jdbcType=BIT}
      </if>
      <if test="isDel != null">
         and is_del=#{isDel,jdbcType=BIT}
      </if>
      <if test="createTime != null">
         and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null">
         and create_by=#{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null">
         and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
         and update_by=#{updateBy,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <select id="findByPK" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <include refid="Base_Column_List" />
    from t_article_list
    where   is_del=0  and id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPK" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    update t_article_k  set is_del=1
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.example.start.module.entity.ArticleList">
    <!--
      WARNING - @mbg.generated
    -->
    insert into t_article_list (id, title, url, 
      is_reptile, disabled, is_del, create_time, 
      create_by, update_time, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{isReptile,jdbcType=BIT}, #{disabled,jdbcType=BIT}, #{isDel,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.start.module.entity.ArticleList">
    <!--
      WARNING - @mbg.generated
    -->
    insert into t_article_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="isReptile != null">
        is_reptile,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="isReptile != null">
        #{isReptile,jdbcType=BIT},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPkSelective" parameterType="com.example.start.module.entity.ArticleInfo">
    <!--
      WARNING - @mbg.generated
    -->
    update t_article_list
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isReptile != null">
        is_reptile = #{isReptile,jdbcType=BIT},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPK" parameterType="com.example.start.module.entity.ArticleInfo">
    <!--
      WARNING - @mbg.generated
    -->
    update t_article_list
    set title = #{title,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR},
    is_reptile = #{isReptile,jdbcType=BIT},
    disabled = #{disabled,jdbcType=BIT},
    is_del = #{isDel,jdbcType=BIT},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    create_by = #{createBy,jdbcType=BIGINT},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>